@media screen and (max-width: 1200px){

div.column{
	width:  20%;
	border:  5px solid black;
	display:  inline-block;	
}

}
@media screen and (max-width: 1000px){


.column{
	display: flex;
	align-items: center;
}
}
@media screen and (max-width: 900px){

.column2{
	display: flex;
	align-items: center;
}

}


