
body {
	margin: 0 auto;
}

.wrapper {
	width:800px;
	margin: 0 auto;
	/*background: lightgrey;*/
	/*overflow: hidden;*/
	/*padding: 20px;*/
}

.column img{
	/*width:  20%;*/
	/*border: 5px solid black;*/
	display:  inline-block;
}

img {
	width: 250px;
	height: 250px;
}

/* Portrait */ /*IPhone*/
@media screen 
	and (min-width:480px) 
	and (max-width: 1200px) {
	body {
		background-color: lightgrey;	
	}

	.wrapper {
		width: 100%;
	}
	.column , .column-2 {
	/*width:  20%;*/
	/*border: 5px solid black;*/
	display:  flex ;
	flex-wrap: wrap;
}
}

