.wrapper {
	width: 50px;
}

div.colimn {
	width:  20%;
	border: 5px solid black;
	display:  inline-block;
}

img {
	width: 500%;
	height: 450%;
}

.column {
	display: flex;
	align-items: center;
}

.column-2 {
	display: flex;
	align-items: center;
}